@font-face {
    font-family: "raleway";
    src: url("../fonts/raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "feltTip";
    src: url("../fonts/felt-tip/feltTip.ttf") format("truetype");
}