// breackpoints
$mobileSize: 0px;
$tabSize: 700px;
$desktopSize: 950px;
$desktopSizeL: 1250px;
$desktopSizeXL: 1500px;
$desktopSizeXXL: 1800px;
$desktopSizeXXXL: 2100px;

// colors
$main: rgb(0, 112, 221);
$r: rgb(238, 0, 0);
$b: rgb(0, 0, 0);
$bo: rgba(0, 0, 0, 0.502);
$bInv: rgba(0, 0, 0, 0);
$w: rgb(255, 255, 255);
$wo: rgba(255, 255, 255, 0.95);
$facebook: rgb(59, 89, 152);

// wrapper size
$mainWrapperSize: 90rem;