@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "feltTip";
  src: url("../fonts/felt-tip/feltTip.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'raleway',arial, Helvetica, sans-serif;
  font-size: initial;
  font-weight: initial;
  margin: initial;
  padding: initial;
  text-decoration: none;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  background-image: url("../medias/backgrounds/main.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url("../medias/backgrounds/main.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(0.3rem);
  -webkit-filter: blur(0.3rem);
}

a {
  color: inherit;
}

.mainWrapper {
  margin: auto;
  max-width: 90rem;
  position: relative;
  background-color: white;
}

.lattesHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}

.lattesHeader_burger {
  color: #0070dd;
  font-size: 2rem;
  margin: 0.5rem 1rem;
  z-index: 100;
}

.custom-logo {
  height: 2rem;
  margin: 0.5rem;
}

@media screen and (min-width: 950px) {
  .lattesHeader {
    max-width: 90rem;
    width: 100%;
    left: initial;
    right: initial;
    border-bottom: 0.2rem solid #0070dd;
  }
  .lattesHeader_logo {
    height: 2rem;
    margin: 0.5rem;
  }
  .lattesHeader_burger {
    display: none;
  }
}

.lattesNavArea {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}

.lattesNavArea * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.lattesNavArea_nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 2rem;
}

.lattesNavArea_nav > .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding: 1.5rem 2rem;
  width: 100%;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}

.lattesNavArea_nav > .menu-item a {
  font-size: 1.2rem;
  font-weight: 600;
}

.lattesNavArea_nav > .menu-item--selected {
  color: #0070dd;
}

.lattesNavArea--display {
  border-left: 0.2rem solid #e6e6e6;
  padding: 1rem;
  width: 20rem;
}

.sub-menu {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.2rem 1rem;
  max-height: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  position: relative;
  transition: max-height 0.3s, margin-top 0.3s, padding 0.3s;
  -webkit-transition: max-height 0.3s, margin-top 0.3s, padding 0.3s;
  -moz-transition: max-height 0.3s, margin-top 0.3s, padding 0.3s;
  -ms-transition: max-height 0.3s, margin-top 0.3s, padding 0.3s;
  -o-transition: max-height 0.3s, margin-top 0.3s, padding 0.3s;
}

.sub-menu > .menu-item a {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  color: #0070dd;
}

.sub-menu--display {
  margin-top: 1rem;
  max-height: 15rem;
  padding: 0.5rem;
}

@media screen and (min-width: 950px) {
  .lattesNavArea {
    display: initial;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 60rem;
    width: initial;
    overflow-y: initial;
    padding-top: 0;
    position: initial;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
  }
  .lattesNavArea_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: initial;
    width: 100%;
  }
  .lattesNavArea_nav > .menu-item {
    padding: 1rem 0.8rem;
    width: initial;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
  }
  .lattesNavArea_nav > .menu-item a {
    font-size: 1rem;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s, -webkit-transform 0.3s;
    -webkit-transition: transform 0.3s, color 0.3s;
    -moz-transition: transform 0.3s, color 0.3s;
    -ms-transition: transform 0.3s, color 0.3s;
    -o-transition: transform 0.3s, color 0.3s;
  }
  .lattesNavArea_nav > .menu-item a:hover {
    color: #0070dd;
    transform: scale(0.97);
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
  }
  .lattesNavArea_nav > .menu-item--selected {
    background-color: #0070dd;
    color: white;
  }
  .lattesNavArea--display {
    margin-top: initial;
    max-height: initial;
    padding: initial;
  }
  .sub-menu {
    background-color: #f2f2f2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: hidden;
    max-height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 34rem;
    z-index: -1;
    border-radius: 0 0 0 0.5rem;
    -webkit-border-radius: 0 0 0 0.51rem;
    -moz-border-radius: 0 0 0 0.51rem;
    -ms-border-radius: 0 0 0 0.51rem;
    -o-border-radius: 0 0 0 0.51rem;
    transition: max-height 0.5s, padding 0.5s;
    -moz-transition: max-height 0.5s, padding 0.5s;
    -ms-transition: max-height 0.5s, padding 0.5s;
    -o-transition: max-height 0.5s, padding 0.5s;
    -webkit-transition: max-height 0.5s, padding 0.5s;
  }
  .sub-menu > .menu-item {
    margin: 0.3rem;
    min-width: 15rem;
    width: calc((100% / 3) - 4rem);
  }
  .sub-menu > .menu-item a {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
  }
  .sub-menu > .menu-item a:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
  .sub-menu--display {
    margin-top: 1rem;
    max-height: 80vh;
    padding: 3.2rem 2rem 2rem 2rem;
    border-bottom: 0.2rem solid #0070dd;
  }
}

.lattes_footer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  max-width: 90rem;
  padding-top: 3rem;
  position: relative;
  z-index: 1;
}

.lattes_footer::after {
  background-color: black;
  content: '';
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.lattes_footer_infos {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 2rem 0;
  padding: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

.lattes_footer_townHall {
  text-align: center;
  color: white;
}

.lattes_footer_townHall_title {
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.lattes_footer_townHall_address {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.lattes_footer_townHall_contact {
  font-size: 1.2rem;
}

.lattes_footer_timetable {
  color: white;
}

.lattes_footer_timetable_title {
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.lattes_footer_timetable_content {
  font-size: 1.2rem;
}

.lattes_footer_logoArea {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 25rem;
  width: 100%;
}

.lattes_footer_logoArea_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  margin: 1rem;
  padding: 0.5rem;
  position: relative;
  z-index: 1;
}

.lattes_footer_logoArea_link::after {
  background-color: white;
  content: '';
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.lattes_footer_logoArea_link_logo {
  max-height: 90%;
  max-width: 90%;
}

.lattes_footer_legal {
  background-color: white;
  color: #0070dd;
  padding: 2rem;
  text-align: center;
}

.lattes_footer_legal_content {
  font-weight: 600;
}

.lattes_footer_legal_content_link {
  font-weight: inherit;
  text-decoration: underline;
}

@media screen and (min-width: 700px) {
  .lattes_footer_infos {
    grid-gap: 2rem;
        grid-template-areas: "townhall timetable" "logo logo";
  }
  .lattes_footer_townhall {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: townhall;
  }
  .lattes_footer_timetable {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: timetable;
  }
  .lattes_footer_logoArea {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: logo;
  }
}

@media screen and (min-width: 950px) {
  .lattes_footer {
    padding-top: initial;
    overflow: hidden;
  }
  .lattes_footer_infos {
        grid-template-areas: "townhall timetable logo";
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    min-width: 60rem;
    padding: 2rem 4rem;
  }
  .lattes_footer_townHall {
    color: white;
    padding: initial;
  }
  .lattes_footer_timetable {
    margin-top: initial;
    padding: initial;
  }
  .lattes_footer_logoArea {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    max-width: 25rem;
    width: 100%;
  }
  .lattes_footer_logoArea_link {
    height: 4rem;
    margin: 0.5rem;
    padding: 0.5rem;
    position: relative;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
  }
  .lattes_footer_logoArea_link::after {
    background-color: white;
    content: '';
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    transition: background-color 0.4s, opacity 0.4s;
    -webkit-transition: background-color 0.4s, opacity 0.4s;
    -moz-transition: background-color 0.4s, opacity 0.4s;
    -ms-transition: background-color 0.4s, opacity 0.4s;
    -o-transition: background-color 0.4s, opacity 0.4s;
  }
  .lattes_footer_logoArea_link:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    z-index: 2;
  }
  .lattes_footer_logoArea_link:hover::after {
    background-color: black;
    opacity: 1;
  }
  .lattes_footer_logoArea_link_logo {
    max-height: 90%;
    max-width: 90%;
  }
  .lattes_footer_legal {
    background-color: white;
    color: #0070dd;
    padding: 1rem 2rem;
    text-align: center;
  }
  .lattes_footer_legal_content {
    font-weight: 600;
  }
  .lattes_footer_legal_content_link {
    background-color: white;
    display: inline-block;
    font-weight: inherit;
    text-decoration: underline;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
  }
  .lattes_footer_legal_content_link:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}
/*# sourceMappingURL=main.css.map */